
/* MEDIUM AND SMALL SCREENS */
@media only screen and (max-width: 680px) {

    ol {
        width: 90%;
    }

    /* NAVIGATION */

    .topnav {
    
    }

    .small-screen-nav .flaticon-menu {
        float: right;
        display: inline-block;
        margin-top: -3.7em;
    }

    /* INDEX PAGE */
    #front-text-area {
        position: absolute;
        top: 5%;
        left: 10%;
        color: white;
    }

    #front-text-area p {
        max-width: 60%;
    }

    .front-content #fc-left p {
        max-width: 100%;
    }

    .front-content #fc-left  {
        width: 100%;
        border:none;
    }
    .front-content #fc-right {
        width: 100%;
        border-style: solid;
        border-color: darkslategray;
        border-width: 1px 0px 0px 0px;
    }

    .contact-box {
        margin-left: auto;
        margin-right: auto;
        width: 40%;
    }


    /* RECIPES */

    .left-content {
        width: 100%;
    }

    .right-content {
        width: 90%;
    }

    #ingredients {
        width: 100%;
        border-style: solid;
        border-color: darkslategray;
        border-width: 1px 0px 0px 0px;
        padding-left: 0em;
        padding-top: 1em;
        margin-left: 0em;
    }
}

/* SMALL SCREENS */
@media only screen and (max-width: 480px) {
    hr {
        height: 0.1em;
    }

    .navbar-nav a {
        width: 100%;
    }

    .navbar-nav {
        margin-left:2em;

    }
    .topnav .links {
        width: 100%;
    }

    .flaticon-fork {
        padding-left: 0.1em;
    }

    /* INDEX PAGE */
    .front-content {
        height: 45em;
        margin-top: 22em;
    }

    .button {
        color: darkslategray !important;
        border-color: darkslategray !important;
    }

    #front-text-area p {
        margin-top: 8em;
        color: darkslategray;
    }

    #fc-left {
        padding-top: 1em;
        margin-top: -1.5em;
        margin-bottom: 1em;
        border-top: 1px solid darkslategray !important;
    }

    #fc-right {
        margin-bottom:1em;

    }

    .contact-box {
        padding-top: 1em;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }

    /* RECIPE */

    .divider-line {
        display: none;
    }
    .fa-angle-left {
        display: none;
    }

    .recipe-cont {
        margin: 1.5em;
    }

    /* CALENDAR */

    .weekdays {
        display: none;
    }

    .not-month {
        display: none;
    }

    .cal-day-img-mb {
        background-size: 100%;
    }

    .cal-day-img-pc {
        background-size: 100%;
    }
    .flaticon-book {
        display: none;
    }

    .cal-header {
        width: 20em;
        margin-top: 2em;
        margin-bottom: 2em;
    }

    .cal-header h2 {
        text-align: center;
    }

    .calendar {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .calendar h3 {
        font-size: 2em;
    }

    .month {
        width: 18.5em;
    }

    .fa-angle-double-left, .fa-angle-double-right {
        font-size: 2em;
        color: darkslategray;
    }

    .flaticon-carrot,.flaticon-money,.flaticon-breakfast {
        width: 5em;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 0.5em;
    }

    [class^="flaticon-fork"]:before, [class*=" flaticon-fork"]:before, [class^="flaticon-fork"]:after, [class*=" flaticon-fork"]:after {
        font-size: 1.5em;
        margin-left: -0.1em;
    }

    .cooking-info {
        margin-bottom: 2em;
        margin-left: 1em;
    }
    #box-right, #box-middle, #box-left {
        margin-left: 2em !important;
    }

    /* COMMENTS */

    .container {
        padding-left: 10%;
        padding-right: 10%;
    }

    @media only screen and (max-width: 400px) {
    #front-text-area p {
        max-width: 90%;
        margin-top: 5.5em;
    }
    #front-text-area {
        left: 5%;
    }
}
}

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 4em;
    }
    .cal-header h2 {
        margin-left: 0.5em;
    }

    #front-text-area p {
        max-width: 90%;
        margin-top: 5.5em;
    }

    .front-content {
        margin-left: 1em;
        margin-right: 1em;
    }

    #box-right, #box-middle, #box-left {
        margin-left: 0em !important;
    }

}

@media only screen and (max-width: 270px) {
    #front-text-area p {
        max-width: 90%;
        margin-top: 1em;
    }
    #front-text-area {
        left: 5%;
    }
}

/* BIG SCREEN */
@media (min-width: 600px) {

    .navbar-small {
        display: none;
    }
    .container {
       padding-left: 0px;
        padding-right:0px;
    }
}


@media (min-width: 1500px) {
    .front-content {
        margin-left: 15em;
        margin-right: 15em;
    }

    #front-text-area h1 {
        font-size: 8em;
    }
    .recipe-cont {
        margin-left: 15em;
        margin-right: 15em;
    }
   

}
